# 1. Configuracion someLights

In [38]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json

with open("input-someLights.json") as json_file:
    json_data = json.load(json_file)
    #print(json_data)
    
json_data

{u'active': True,
 u'carPerUpdate': 1,
 u'laneChangeProbability': 0.2,
 u'lanes': 2,
 u'lanesPos': [0, 1],
 u'lenght': 100,
 u'maxLength': 10000,
 u'maxSpeed': 5.0,
 u'slowDownProbability': 0.4,
 u'ticks': 70,
 u'xPos': [300, 300]}

In [39]:
data = pd.read_csv('output-someLights.csv', sep=",")
data.head(20)

    density  totalCars  flux  deadCars  time  queue  avgSpeedCars
0       0.5          1   2.5         0     1      0          5.00
1       1.0          2   4.0         0     2      0          4.00
2       1.0          2   4.0         0     3      0          4.00
3       1.0          2   4.0         0     4      0          4.00
4       1.0          2   4.5         0     5      0          4.50
5       1.5          3   7.0         0     6      0          4.67
6       2.0          4   9.5         0     7      0          4.75
7       2.0          4   9.5         0     8      0          4.75
8       2.5          5  11.5         0     9      0          4.60
9       2.5          5  11.0         0    10      0          4.40
10      3.0          6  13.0         0    11      0          4.33
11      3.0          6  14.0         0    12      0          4.67
12      3.5          7  16.5         0    13      0          4.71
13      3.5          7  15.0         0    14      0          4.29
14      4.0          8  17.5         0    15      0          4.38
15      4.0          8  17.5         0    16      0          4.38
16      4.0          8  18.5         0    17      0          4.62
17      4.0          8  18.5         0    18      0          4.62
18      4.5          9  20.0         0    19      0          4.44
19      4.5          9  21.0         0    20      0          4.67

### Estadisticas simples de la data

In [40]:
pd.set_option('display.width', 100)
pd.set_option('precision', 3)
description = data.describe()
print(description)

       density  totalCars     flux  deadCars    time  queue  avgSpeedCars
count  305.000    305.000  305.000   305.000  305.00    305       305.000
mean     5.375     10.751   24.575    68.505  153.00      0         4.570
std      1.241      2.482    5.712    45.222   88.19      0         0.171
min      0.500      1.000    2.500     0.000    1.00      0         4.000
25%      5.000     10.000   22.000    30.000   77.00      0         4.450
50%      5.500     11.000   25.500    68.000  153.00      0         4.580
75%      6.000     12.000   28.500   107.000  229.00      0         4.690
max      8.000     16.000   35.500   147.000  305.00      0         5.000

### Graficas

In [41]:
data.hist()
plt.show()

In [42]:
#Se quita la columna tiempo
#data.drop('time', axis=1, inplace=True)
data.drop('queue', axis=1, inplace=True)
data.tail(10)

     density  totalCars  flux  deadCars  time  avgSpeedCars
295      5.0         10  23.5       144   296          4.70
296      5.0         10  24.0       145   297          4.80
297      5.5         11  24.0       145   298          4.36
298      5.5         11  24.0       146   299          4.36
299      5.5         11  25.0       146   300          4.55
300      6.0         12  29.0       146   301          4.83
301      6.0         12  28.0       146   302          4.67
302      6.0         12  28.0       146   303          4.67
303      6.0         12  27.0       147   304          4.50
304      6.0         12  28.0       147   305          4.67

In [43]:
#data.drop('time', axis=1, inplace=True)
#print(data.head(10))
data.plot(kind='density', subplots=True, layout=(3,3), sharex=False)
plt.show()

### BoxPlots

In [44]:
data.plot(kind='box', subplots=True, layout=(3,3), sharex=False, sharey=False)
plt.show()

### Correlaciones

In [50]:
names = list(data.columns.values)
print names
correlations = data.corr()
fig = plt.figure()
ax = fig.add_subplot(111)
cax = ax.matshow(correlations, vmin=-1, vmax=1)
fig.colorbar(cax)
ticks = np.arange(0,6,1)
ax.set_xticks(ticks)
ax.set_yticks(ticks)
ax.set_xticklabels(names)
ax.set_yticklabels(names)
plt.show()

['density', 'totalCars', 'flux', 'deadCars', 'time', 'avgSpeedCars']

### Scatter Plot Matrix

In [51]:
from pandas.tools.plotting import scatter_matrix

#plt.figure(figsize=(15, 15))
scatter_matrix(data)
#plt.savefig('hola.png')
plt.show()