# 1. Configuracion complex

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json

with open("input-multiLaneWithObstacle.json") as json_file:
    json_data = json.load(json_file)
    #print(json_data)
    
json_data

{u'active': True,
 u'carPerUpdate': 10,
 u'laneChangeProbability': 0.2,
 u'lanes': 4,
 u'lanesPos': [2, 2],
 u'lenght': 190,
 u'maxLength': 1000,
 u'maxSpeed': 5.0,
 u'slowDownProbability': 0.3,
 u'ticks': 0,
 u'xPos': [50, 100]}

In [2]:
data = pd.read_csv('output-multiLaneWithObstacle.csv', sep=",")
data.head(20)

    time  avgSpeedCars  queue  density  totalCars   flux  deadCars
0      1          4.75      0     0.53          4   2.50         0
1      2          4.75      0     0.53          4   2.50         0
2      3          4.62      6     1.05          8   4.87         0
3      4          4.50      3     1.58         12   7.11         0
4      5          4.19      8     2.11         16   8.82         0
5      6          3.70      9     2.63         20   9.74         0
6      7          3.42     12     3.16         24  10.79         0
7      8          3.38     13     3.42         26  11.58         0
8      9          3.65     14     3.42         26  12.50         0
9     10          3.54     14     3.68         28  13.03         0
10    11          3.76     13     3.82         29  14.34         0
11    12          3.36     18     4.34         33  14.61         0
12    13          3.32     27     4.47         34  14.87         0
13    14          3.31     28     4.74         36  15.66         0
14    15          3.39     33     5.00         38  16.97         0
15    16          3.20     34     5.26         40  16.84         0
16    17          3.27     34     5.39         41  17.63         0
17    18          3.28     32     5.66         43  18.55         0
18    19          3.48     32     5.79         44  20.13         0
19    20          3.51     35     5.92         45  20.79         0

### Estadisticas simples de la data

In [3]:
pd.set_option('display.width', 100)
pd.set_option('precision', 3)
description = data.describe()
print(description)

          time  avgSpeedCars     queue  density  totalCars     flux  deadCars
count  591.000       591.000   591.000  591.000    591.000  591.000   591.000
mean   296.000         2.520  1010.482   14.814    112.582   35.631   379.303
std    170.751         0.555   615.248    3.302     25.098    4.903   247.413
min      1.000         1.850     0.000    0.530      4.000    2.500     0.000
25%    148.500         2.140   470.000   13.160    100.000   35.260   164.500
50%    296.000         2.240   995.000   16.450    125.000   36.580   374.000
75%    443.500         2.835  1526.000   17.110    130.000   37.630   593.000
max    591.000         4.750  2119.000   18.290    139.000   41.450   814.000

### Graficas

In [4]:
data.hist()
plt.show()

In [5]:
#Se quita la columna tiempo
#data.drop('time', axis=1, inplace=True)
data.drop('queue', axis=1, inplace=True)
data.tail(10)

     time  avgSpeedCars  density  totalCars   flux  deadCars
581   582          2.39    16.05        122  38.42       800
582   583          2.34    16.05        122  37.50       803
583   584          2.42    16.05        122  38.82       803
584   585          2.46    16.18        123  39.74       805
585   586          2.40    16.18        123  38.82       806
586   587          2.39    16.05        122  38.29       808
587   588          2.32    16.05        122  37.24       810
588   589          2.29    16.18        123  37.11       811
589   590          2.20    16.05        122  35.39       814
590   591          2.20    16.18        123  35.66       814

In [6]:
#data.drop('time', axis=1, inplace=True)
#print(data.head(10))
data.plot(kind='density', subplots=True, layout=(3,3), sharex=False)
plt.show()

### BoxPlots

In [7]:
data.plot(kind='box', subplots=True, layout=(3,3), sharex=False, sharey=False)
plt.show()

### Correlaciones

In [8]:
names = list(data.columns.values)
print names
correlations = data.corr()
fig = plt.figure()
ax = fig.add_subplot(111)
cax = ax.matshow(correlations, vmin=-1, vmax=1)
fig.colorbar(cax)
ticks = np.arange(0,6,1)
ax.set_xticks(ticks)
ax.set_yticks(ticks)
ax.set_xticklabels(names)
ax.set_yticklabels(names)
plt.show()

['time', 'avgSpeedCars', 'density', 'totalCars', 'flux', 'deadCars']

/usr/lib/pymodules/python2.7/matplotlib/collections.py:548: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if self._edgecolors == 'face':

### Scatter Plot Matrix

In [9]:
from pandas.tools.plotting import scatter_matrix

#plt.figure(figsize=(15, 15))
scatter_matrix(data)
#plt.savefig('hola.png')
plt.show()